<!-- helper/home.html -->

{% extends 'helper/base.html' %}

{% block content %}
  <div class="content-section" >
    <h1>Welcome to Re:Search</h1>
    <div class="c1">
      <p><span>Re:Search</span> is our new project which is made to help scientists to communicate with each other, even if they are in different countries.
      </p>   
      <p>
         Accelerate your journey to scientific discoveries with our innovative online platform designed to facilitate knowledge exchange and streamline processes in the realm of scientific research.
      </p>
      <p>
         <span>Re:Search</span> offers comprehensive support for scientists aiming to enhance the efficiency of their work and deepen collaboration with peers. Join us and help shape the future of scientific research!
      </p>
    </div>
  </div>
{% endblock %}
