<!-- helper/request_post_edit.html -->

{% extends 'helper/base.html' %}

{% block content %}
  <div class="content-section">
    <h1>Request Post Edits</h1>
    <div class="row">
      {% for request_post_edit in reuqest_post_edit %}
        <div class="col-md-12">
          <div class="card mb-4">
            <div class="card-body">
              <h2 class="card-title">{{ request_post_edit.content }}</h2>
              <p class="card-text"><small class="text-muted">Requested by {{ request_post_edit.author.username }} on {{ request_post_edit.date_posted }}</small></p>
              <a href="{% url 'request-post-edit-detail' pk=request_post_edit.pk %}" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
