<!-- helper/request_post_edit_detail.html -->

{% extends 'helper/base.html' %}

{% block content %}
  <div class="content-section">
    <h1>Request Post Edit</h1>
    <div class="card mb-4">
      <div class="card-body">
        <h2 class="card-title">{{ reuqest_post_edit.content }}</h2>
        <p class="card-text"><small class="text-muted">Requested by {{ reuqest_post_edit.author.username }} on {{ reuqest_post_edit.date_posted }}</small></p>
        <!-- Additional details if needed -->
      </div>
    </div>
  </div>
{% endblock %}
