/* Reset some default styles */
body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

/* Body styles */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  overflow-x: hidden;
}

/* Header styles */
.site-header {
  background-color: #212f3d;
  padding: 15px;
  color: #ecf0f1;
  text-align: center;
  animation: fadeInUp 1s ease-in-out;
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(-20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.navbar-brand a {
  color: #ecf0f1;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.5rem;
}

/* Navigation styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-item {
  margin-right: 15px;
  float: left;
}

.navbar-link {
  color: #ecf0f1;
  text-decoration: none;
  font-weight: bold;
}

/* Main content styles */
.container {
  margin-top: 20px;
}

/* Footer styles */
.footer {
  background-color: #212f3d;
  padding: 15px;
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  color: #ecf0f1;
}

.foot-link {
  color: #ecf0f1;
  margin-right: 15px;
  text-decoration: none;
}

/* Buttons styles */
.button {
  background-color: #3498db;
  color: #ecf0f1;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #2980b9;
}

.button.is-light {
  background-color: #f39c12;
  color: #333;
}

.button.is-light:hover {
  background-color: #d35400;
}

.button.is-primary {
  background-color: #27ae60;
  color: #ecf0f1;
}

.button.is-primary:hover {
  background-color: #219a52;
}

.alert {
  margin-top: 20px;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

/* Adjustments for small screens */
@media screen and (max-width: 768px) {
  .navbar {
      flex-direction: column;
      align-items: stretch;
  }

  .navbar-menu {
      margin-top: 15px;
  }

  .navbar-item {
      margin: 0;
  }

  .button {
      width: 100%;
      margin-bottom: 10px;
  }

  /* .footer {
      position: static;
  } */
}